extends layout/app

block page
	include chunk/header

	h1.title Главная !!!

	img(src="img/IMG_20200306_082626.jpg", alt="фото ", width="500")
	img(src="img/IMG_20200306_170746.jpg", alt="фото ", width="500")
	img(src="img/IMG_20200306_183925.jpg", alt="фото ", width="500")
	img(src="img/IMG_20200307_134342.jpg", alt="фото ", width="500")

	ul.news
		each item in news 
			li= item.name

	include chunk/footer